@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

.App {
  text-align: unset;
  font-family: "Noto Sans KR", sans-serif;
  height: auto;
  min-height: 110vh;
}
